*{
    margin: 0;
    padding: 0;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #eff4fd;
}



.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    /* border: solid red 10px; */
}


nav{
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 30px;
    margin-top: 15px;

}

.contacthead{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contacthead h1{
    font-size: 50px;
    color: #212121;
    margin-top: 60px;
    flex: 1;
    /* border: solid red 1px; */
}

.contacthead p{
    color: #555;
    font-size: 20px;
    line-height: 22px;
    flex: 1;
}

.links {
    margin-right: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li{
    list-style: none;
    padding: 20px;
    flex:  1 1 20;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    flex: 1;
}

nav ul li a:hover{
    color: slateblue;
}

.detel{
    margin-left: 14%;
    margin-top: 13%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: slateblue;
}

.detel p{
    color: #555;
    line-height: 22px;
    font-size: 20px;
    line-height: 22px;
    flex: 1;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height:100%;
    position: absolute;
    left: 66%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    /* object-fit:fill; */
    /* opacity: .8 */
}

.images:hover .avatar{
    left: 50%;
}

.games{
    width: 45%;
    height: 75%;
    position: absolute;
    bottom: 0;
    left: 150px;
    display: flex;
    flex-direction: column;
}

.games p{
    color: #555;
    font-size: 18px;
    line-height: 1.66667;
    font-family: 'Open Sans',Arial,sans-serif;
    text-align:justify;
    word-wrap: break-word;
    margin-right: 10%;
    flex: 1;
}

.games iframe{
    flex:1;
    display:block;
}




.info{
    margin-top: 13%;
    margin-right: 55%;
    margin-left: 15%;
}

.info p{
    color: #555;
    font-size: 18px;
    line-height: 1.66667;
    font-family: 'Open Sans',Arial,sans-serif;
    text-align:justify;
    word-wrap: break-word;
}

.code{
        width: 45%;
        height: 75%;
        position: absolute;
        bottom: 0;
        left: 150px;
}

.code h2{
    color: #212121;
}

.code p{
    color: #555;
    font-size: 18px;
    line-height: 1.66667;
    font-family: 'Open Sans',Arial,sans-serif;
    text-align:justify;
    word-wrap: break-word;
}